<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
            <link rel="stylesheet" href="/static/style.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="static/loading-bar.css"/>
        <script type="text/javascript" src="static/loading-bar.js"></script>
        <title>UAV Simulation</title>
    </head>
    <body>
        <h1>Mission Map</h1>
        <div id="map" style="width:900px; height:500px"></div>

        <div> <h2> Simulation results: </h2> </div>
        <div id = "tiempoEjecucion"></div>
        <div id = "baterias"></div>
        <div id = "dronesFinished"></div>
        <div id="porcentaje"
            data-preset="fan"
            class="ldBar label-center"
>
        </div>
        <!--
        <div id = "cameraFeed">
            <img src="http://localhost:5000/1/0/camera">
        </div>
        -->
        <h1>New Mission</h1>
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form action="/sendMission" method="POST" id="formMission" target="dummyframe" enctype="multipart/form-data">
    
          <div class="form__fieldset">
            <label for="Number of drones" class="form__label">Number of drones:</label>
            <input type="number" name="numDrones" id="numDrones" class="form__input" />
          </div>
          <div class="form__fieldset">
            <label for="granularity" class="form__label">Granularity:</label>
            <input type="number" name="granularidad" id="granularidad" class="form__input" />
          </div>
          <div class="form__fieldset">
              <label for="polygon file" class="form__label">Polygon file:</label>
              <input type="file" name="fileGeoJSON" required />
          </div>
    <!--
          <div class="form__fieldset">
            <label for="account" class="form__label">Account:</label>
            <select name="account" id="account" class="form__input form__select">
              <option value="Checking">Checking</option>
              <option value="Savings">Savings</option>
              <option value="Investment">Investment</option>
            </select>
          </div>
    -->
          <div class="form__fieldset">
            <input
              id="inputMission"
              class="form__submit form__input"
              type="submit"
              value="Start Mission"
            />
          </div>
        </form>

        <script>
            /*
            document.getElementById('inputMission').addEventListener("click", () => {
	            alert('Iniciando misión con x drones e y granularidad');
            });
            */
            /*
            document.getElementById("botonMission").addEventListener("click",
                function() {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/sendMission", true);
                    xhr.onload = function () {
                        // do something to response
                        console.log(this.responseText);
                    }
                    
                    //var msgJson = JSON.stringify(data)

                    var data = new FormData();
                    data.append('numDrones', 3);
                    data.append("prueba", "test")
                    xhr.send(data)},
                false
            );
            */


            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            var map = L.map('map').setView([40.453010, -3.732698], 15);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 24,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoiYWxleGZyZWVtYW4iLCJhIjoiY2wxdHZseTZjMDJmbzNranMzeGptamhvMyJ9.Nx2z6wI47Vt_6pi8DBvY4g'
            }).addTo(map);
            
            var numDrones;
            var granularity;
            var form = document.getElementById("formMission");
            form.addEventListener('submit', function(ev) {
                numDrones = form.elements["numDrones"].value;
                granularity = form.elements["granularidad"].value;
            }, false);
            
            //mapMarkers = []
            //lines = []
            //pol = []
            //homes = []
            var mapMarkers;
            var lines;
            var pol;
            var homes;
            var prevPos;
            //var prevPos = Array(20).fill([0,0,0]);
            var bar1 = new ldBar("#porcentaje");

            var sourceSetup = new EventSource('/topic/mapaDronesSetup');
            sourceSetup.addEventListener('message', function(e) {

                obj = JSON.parse(e.data);
                console.log(obj);

                if(obj.type === "setup") {
                    //Clean what was before
                    document.getElementById("tiempoEjecucion").innerHTML = "Iniciando...";
                    document.getElementById("baterias").innerHTML = "Iniciando...";

                    for(var i = 0; i < mapMarkers?.length || 0; i++){
                        map.removeLayer(mapMarkers[i]);
                    }
                    for(var i = 0; i < lines?.length || 0; i++){
                        map.removeLayer(lines[i]);
                    }
                    console.log("Poligono len: ", pol?.length || 0);
                    console.log(pol);
                    for(var i = 0; i < pol?.length || 0; i++){
                        map.removeLayer(pol[i]);
                    }
                    for(var i = 0; i < homes?.length || 0; i++){
                        map.removeLayer(homes[i]);
                    }
                    
                    mapMarkers = []
                    lines = []
                    pol = []
                    homes = []

                    var homeLat = obj.homeLat;
                    var homeLon = obj.homeLon;

                    map.panTo(new L.LatLng(homeLat, homeLon), 16);

                    //var homeAlt = obj.homeAlt;
                    prevPos = Array(obj.numDrones).fill([homeLat,homeLon]);
                    var poligon = [obj.pol];
                    console.log("Len obj.pol: ", obj.pol.length);
                    L.polygon(poligon, {color: 'red'}).addTo(map);
                    pol.push(poligon)

                    console.log("Len array de pol: ", pol.length);

                    homeMarker = L.marker([homeLat, homeLon], {icon: blackIcon}).addTo(map);
                    homes.push(homeMarker);

                    bar1.set(0);

                } else if(obj.type === "end") {
                    
                    tiempoTotal = obj.tiempoVueloTotal;
                    tiempoMedio = obj.tiempoVueloMedio;
                    tiempoMax = obj.tiempoVueloMax;
                    bateriasTotal = obj.bateriasTotal;
                    bateriasMedia = obj.bateriasMedia;
                    
                    document.getElementById("tiempoEjecucion").innerHTML = "Total flight time: " + tiempoTotal.toFixed(2) + " | Average flight time: " + tiempoMedio.toFixed(2) + " | Max. flight time: " + tiempoMax.toFixed(2);
                    document.getElementById("baterias").innerHTML = "Total batteries used: " + bateriasTotal + " | Average batteries used: " + bateriasMedia.toFixed(2);
                    

                } else if(obj.type == "update") {
                    tiempoTotal = obj.tiempoVueloTotal;
                    tiempoMedio = obj.tiempoVueloMedio;
                    //tiempoMax = obj.tiempoVueloMax;
                    bateriasTotal = obj.bateriasTotal;
                    bateriasMedia = obj.bateriasMedia;
                    dronesFinished = obj.dronesFinished
                    porcentaje = obj.porcentaje
                    
                    document.getElementById("tiempoEjecucion").innerHTML = "Total flight time: " + tiempoTotal.toFixed(2) + " | Average flight time: " + tiempoMedio.toFixed(2); //+ " | Tiempo máximo de vuelo: " + tiempoMax;
                    document.getElementById("baterias").innerHTML = "Total batteries used: " + bateriasTotal + " | Average batteries used: " + bateriasMedia.toFixed(2);
                    document.getElementById("dronesFinished").innerHTML = dronesFinished + " of " + numDrones + " drones finished.";
                    //document.getElementById("porcentaje").innerHTML = 100 * porcentaje.toFixed(4) + "% Completed";
                    //document.getElementById("porcentaje").ldBar.set(100 * porcentaje);// = 100 * porcentaje.toFixed(4) + "% Completed";
                    bar1.set(100 * porcentaje);
                    
                } else {
                    console.log("Tipo de datos no reconocido")
                }
            })

            var greenIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var redIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var goldIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var blackIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var source = new EventSource('/topic/mapaDronesTest');
            source.addEventListener('message', function(e) {

                obj = JSON.parse(e.data);
                console.log(obj);
                
                if(mapMarkers[parseInt(obj.id)] != null) {
                    map.removeLayer(mapMarkers[parseInt(obj.id)]);
                }
                if(obj.battery >= 75) {
                    newMarker = L.marker([obj.latitude, obj.longitude], {icon: greenIcon}).addTo(map).bindTooltip('' + obj.id , 
    {
        permanent: true, 
        direction: 'right'
    }
);
                } else if (obj.battery >= 50 && obj.battery < 75) {
                    newMarker = L.marker([obj.latitude, obj.longitude], {icon: goldIcon}).addTo(map).bindTooltip('' + obj.id, 
    {
        permanent: true, 
        direction: 'right'
    }
);
                } else {
                    newMarker = L.marker([obj.latitude, obj.longitude], {icon: redIcon}).addTo(map).bindTooltip('' + obj.id, 
    {
        permanent: true, 
        direction: 'right'
    }
);
                }
                mapMarkers[parseInt(obj.id)] = newMarker;
                
                pathCoords = connectTheDots(prevPos[obj.id][0], prevPos[obj.id][1], obj.latitude, obj.longitude)
                opc = 1
                if(!obj.retHome) {
                    opc = 1
                    clr = colorGradient(obj.normalizedSpeed, lowColor, mediumColor, highColor)
                    var polyline = new L.Polyline(pathCoords, {
                    color: clr,
                    weight: 5,
                    smoothFactor: 1,
                    opacity: opc
                }).addTo(map);
                lines.push(polyline);
                } else {
                    opc = 0.1
                    clr = 'rgb(220,220,220)'
                }
                
                
                prevPos[obj.id] = [obj.latitude, obj.longitude, obj.altitude];

                
            })
            /*
            var source = new EventSource('/video');
            source.addEventListener('message', function(e) {

                obj = JSON.parse(e.data);
                console.log(obj);
                var img = document.createElement("img");
                var frame = document.getElementById("video");
                frame.appendChild(obj.frame);
            })
            */
            
            function connectTheDots(lat1, lon1, lat2, lon2){
                var c = [];
                c.push([lat1, lon1]);
                c.push([lat2, lon2]);
                return c;
            }
            
            let grey = {
                red: 217,
                green: 83,
                blue: 79
            };

            let lowColor = {
                red: 217,
                green: 83,
                blue: 79
            };
            let mediumColor = {
                red: 240,
                green: 173,
                blue: 78
            };
            let highColor = {
                red: 92,
                green: 184,
                blue: 91
            };
            function colorGradient(fadeFraction, rgbColor1, rgbColor2, rgbColor3) {
                var color1 = rgbColor1;
                var color2 = rgbColor2;
                var fade = fadeFraction;

                // Do we have 3 colors for the gradient? Need to adjust the params.
                if (rgbColor3) {
                fade = fade * 2;

                // Find which interval to use and adjust the fade percentage
                if (fade >= 1) {
                    fade -= 1;
                    color1 = rgbColor2;
                    color2 = rgbColor3;
                }
                }

                var diffRed = color2.red - color1.red;
                var diffGreen = color2.green - color1.green;
                var diffBlue = color2.blue - color1.blue;

                var gradient = {
                red: parseInt(Math.floor(color1.red + (diffRed * fade)), 10),
                green: parseInt(Math.floor(color1.green + (diffGreen * fade)), 10),
                blue: parseInt(Math.floor(color1.blue + (diffBlue * fade)), 10),
                };

                return 'rgb(' + gradient.red + ',' + gradient.green + ',' + gradient.blue + ')';
            }
        </script>
    </body>
</html>